<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <div>
        </div>
        <div class="row mr-2 ml-auto">
            <div class="aliq">
                <div class="name">
                    <h3>Abbas shaik</h3>
                    <p style="font-size: 15px;">TYC042176</p>
                </div>
                <div>
                    <img src="../../assets/images/img1.jpeg" alt="" class="user-image p-1" />
                </div>
            </div>
        </div>

    </mat-toolbar-row>
</mat-toolbar>