<div class="container-fluid page mt-2">
    <div>
        <button (click)="navigateCandidateList()" class=" d-inline btn btn-color batch"><mat-icon matTooltip="Back">keyboard_backspace</mat-icon></button>
        <h2 class="d-inline f-bold" style="margin-left: 40%;">Candidate Details</h2>
    </div>
    <div class="box">
        <form action="" [formGroup]="rform">

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Batch Id</mat-label>
                        <input class="hover" readonly matInput type="search" formControlName="batchId" ngModel={{candidates.batchId}} placeholder="Batch Id">
                        <mat-error *ngIf='this.rform.controls.batchId?.errors?.required'>This field is required *</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Batch Name</mat-label>
                        <input class="hover" readonly matInput type="search" formControlName="batchName" ngModel={{candidates.batchName}} placeholder="Batch Name">
                        <mat-error *ngIf='this.rform.controls.batchName.errors?.required'>This field is required *</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Candidate Name</mat-label>
                        <input class="hover" matInput type="search" formControlName="candidateName" placeholder="Candidate Name">
                        <mat-error *ngIf='this.rform.controls.candidateName.errors?.required'> Candidate Name is required *</mat-error>
                        <mat-error *ngIf='this.rform.controls.candidateName.errors?.maxlength'> Max 15 characters should be accept *</mat-error>
                        <mat-error *ngIf='this.rform.controls.candidateName.errors?.pattern'> Name should be Alphabets *</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Phone Number</mat-label>
                        <input class="hover" matInput type="search" formControlName="phoneNumber" placeholder="Phone Number">
                        <mat-error *ngIf='this.rform.controls.phoneNumber.errors?.required'>
                            Phone Number is Mandatory *
                        </mat-error>
                        <mat-error *ngIf='this.rform.controls.phoneNumber.errors?.pattern'>
                            Enter Valid Number *
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Email ID</mat-label>
                        <input class="hover" matInput type="search" formControlName="emailId" placeholder="EmailID">
                        <mat-error *ngIf='this.rform.controls.emailId.errors?.required'>
                            Email is Mandatory *
                        </mat-error>
                        <mat-error *ngIf='this.rform.controls.emailId.errors?.pattern'>
                            Enter Valid Email *
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Degree</mat-label>
                        <input class="hover" matInput type="search" formControlName="degree" placeholder="Degree">
                        <mat-error *ngIf='this.rform.controls.degree.errors?.required'>This field is required *</mat-error>
                        <mat-error *ngIf='this.rform.controls.degree.errors?.pattern'>Degree Sould be Alphabets *</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Stream</mat-label>
                        <input class="hover" matInput type="search" formControlName="stream" placeholder="Stream">
                        <mat-error *ngIf='this.rform.controls.stream.errors?.required'>This field is required *</mat-error>
                        <mat-error *ngIf='this.rform.controls.stream.errors?.minlength'>Min 2 characters Need *</mat-error>
                        <mat-error *ngIf='this.rform.controls.stream.errors?.pattern'>Degree Sould be Alphabets *</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>YOP</mat-label>
                        <input class="hover" matInput type="search" formControlName="yop" placeholder="YOP">
                        <mat-error *ngIf='this.rform.controls.yop.errors?.required'>This field is required *</mat-error>
                        <mat-error *ngIf='this.rform.controls.yop.errors?.pattern'>Enter a valid year *</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Tenth Percentage</mat-label>
                        <input class="hover" matInput type="search" id="tenthPercentage" formControlName="tenthPercentage" placeholder="Tenth Percentage">
                        <mat-error *ngIf='this.rform.controls.tenthPercentage.errors?.required'>This field is required *</mat-error>
                        <mat-error *ngIf='this.rform.controls.tenthPercentage.errors?.tenthPercentage'>Percentage should not be lessthan 35 *</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Twelth Percentage</mat-label>
                        <input class="hover" matInput type="search" formControlName="twelfthPercentage" placeholder="Twelth Percentage">
                        <mat-error *ngIf='this.rform.controls.twelfthPercentage.errors?.required'>This field is required *</mat-error>
                        <mat-error *ngIf='this.rform.controls.twelfthPercentage.errors?.twelfthPercentage'>Percentage should not be lessthan 35 *</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Degree Aggregate</mat-label>
                        <input class="hover" matInput type="search" formControlName="degreeAggregate" placeholder="Degree Aggregate">
                        <mat-error *ngIf='this.rform.controls.degreeAggregate.errors?.required'>This field is required *</mat-error>
                        <mat-error *ngIf='this.rform.controls.degreeAggregate.errors?.degreeAggregate'>Percentage should not be lessthan 35 *</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Masters Aggregate (optional)</mat-label>
                        <input class="hover" matInput type="search" formControlName="masterAggregate" placeholder="Masters Aggregate">
                        <!-- <mat-error *ngIf='this.rform.controls.masterAggregate.errors?.required'>This field is required *</mat-error> -->
                        <mat-error *ngIf='this.rform.controls.masterAggregate.errors?.masterAggregate'>Percentage should not be lessthan 35 *</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Branch</mat-label>
                        <mat-select formControlName="branch">
                            <mat-option *ngFor="let branch of branches" [value]="branch.value">
                                {{branch.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf='this.rform.controls.branch.errors?.required'>This field is required *</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Profile Id (optional)</mat-label>
                        <input class="hover" matInput type="search" formControlName="profileId" placeholder="Profile Id">
                        <!-- <mat-error *ngIf="this.rform.controls.profileId?.errors?.required">This field is required *</mat-error> -->
                        <mat-error *ngIf="this.rform.controls.profileId?.errors?.pattern">Should not accept special characters *</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-color batch" (click)="onSubmit(rform)">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>