<div class="container-fluid page mt-2">
  <div class="box">
    <form action="" #rform="ngForm" >

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>Batch Id</mat-label>
            <input class="hover" matInput type="search" name="batchId" #batchId="ngModel" ngModel={{candidates.batchId}} placeholder="Batch Id"
              required>
            <mat-error *ngIf='batchId?.errors?.required'>This field is required *</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6" >
          <mat-form-field appearance="standard">
            <mat-label>Batch Name</mat-label>
            <input class="hover" matInput type="search" name="batchName" #batchName="ngModel" ngModel={{candidates.batchName}}
              placeholder="Batch Name" required>
            <mat-error *ngIf='batchName.errors?.required'>This field is required *</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>Candidate Name</mat-label>
            <input class="hover" matInput type="search" name="candidateName" #candidateName="ngModel" ngModel minlength="3" maxlength="15"  pattern="^[a-z A-Z]+$"
              placeholder="Candidate Name" required>
            <mat-error *ngIf='candidateName.errors?.required'> CandidateName is required *</mat-error>
            <mat-error *ngIf='candidateName.errors?.maxlength'> Max 15 characters should be accept *</mat-error>
            <mat-error *ngIf='candidateName.errors?.pattern'> Name should be Alphabets *</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>Phone Number</mat-label>
            <input class="hover" matInput type="search" name="phoneNumber" #phoneNumber="ngModel"
              pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$" ngModel placeholder="Phone Number" required>
            <mat-error *ngIf='phoneNumber.errors?.required'>
              Phone Number is Mandatory *
            </mat-error>
            <mat-error *ngIf='phoneNumber.errors?.pattern'>
              Enter Valid Number *
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>Email ID</mat-label>
            <input class="hover" matInput type="search" name="emailId"
              pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" #emailId="ngModel" ngModel
              placeholder="EmailID" required>
            <mat-error *ngIf='emailId.errors?.required'>
              Email is Mandatory *
            </mat-error>
            <mat-error *ngIf='emailId.errors?.pattern'>
              Enter Valid Email *
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>Degree</mat-label>
            <input class="hover" matInput type="search" name="degree" #degree="ngModel" ngModel placeholder="Degree"
              required>
            <mat-error *ngIf='degree.errors?.required'>This field is required *</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>Stream</mat-label>
            <input class="hover" matInput type="search" minlength="2" name="stream" #stream="ngModel" ngModel placeholder="Stream"
              required>
            <mat-error *ngIf='stream.errors?.required'>This field is required *</mat-error>
            <mat-error *ngIf='stream.errors?.minlength'>Min 2 characters Need *</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>YOP</mat-label>
            <input class="hover" matInput type="search" name="yop" #yop="ngModel" pattern="^[0-9]{4}$" ngModel placeholder="YOP" required>
            <mat-error *ngIf='yop.errors?.required'>This field is required *</mat-error>
            <mat-error *ngIf='yop.errors?.pattern'>Enter a valid year *</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>Tenth Percentage</mat-label>
            <input class="hover" matInput type="search" name="tenthPercentage" #tenthPercentage="ngModel" ngModel
              placeholder="Tenth Percentage" required>
            <mat-error *ngIf='tenthPercentage.errors?.required'>This field is required *</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>Twelth Percentage</mat-label>
            <input class="hover" matInput type="search" name="twelfthPercentage" #twelfthPercentage="ngModel" ngModel
              placeholder="Twelth Percentage" required>
            <mat-error *ngIf='twelfthPercentage.errors?.required'>This field is required *</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>Degree Aggregate</mat-label>
            <input class="hover" matInput type="search" name="degreeAggregate" #degreeAggregate="ngModel" ngModel
              placeholder="Degree Aggregate" required>
            <mat-error *ngIf='degreeAggregate.errors?.required'>This field is required *</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>Masters Aggregate</mat-label>
            <input class="hover" matInput type="search" name="masterAggregate" #masterAggregate="ngModel" ngModel
              placeholder="Masters Aggregate" required>
            <mat-error *ngIf='masterAggregate.errors?.required'>This field is required *</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>Branch</mat-label>
            <mat-select name="branch" #branch="ngModel" ngModel required>
              <mat-option *ngFor="let branch of branches" [value]="branch.value">
                {{branch.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf='branch.errors?.required'>This field is required *</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="standard">
            <mat-label>Profile Id</mat-label>
            <input class="hover" matInput type="search" name="profileId" #profileId="ngModel" ngModel
              placeholder="Profile Id" required>
            <mat-error *ngIf="profileId?.errors?.required">This field is required *</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-color batch" (click)="onSubmit(rform)">Submit</button>
        </div>
      </div>
    </form>

  </div>
</div>
