<div class="row mt-2">
    <div class="col-md-7">
        <h4 class="calenderheader">Calendar List</h4>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="batchSearch" appearance="standard">
                    <mat-label>Batch Name</mat-label>
                    <input matInput type="search" [(ngModel)]="searchText">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btncolor mt-1" data-toggle="modal" data-target="#exampleModal">Generate
                Calendar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header Gcalendar">
                <h2 class="modal-title" id="exampleModalLabel">New Calendar Generation</h2>
                <button type="button" #generateCalendarModal class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <!--spinner  -->
            <div class="text-center mt-5" *ngIf="isloading">
                <app-spinner></app-spinner>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8 offset-1">
                        <form [formGroup]="Cform" (ngSubmit)="onSubmitForm(Cform)">
                            <div class="form-group">
                                <mat-form-field appearance="standard">
                                    <mat-label>Batch Name</mat-label>
                                    <mat-select formControlName="batchName" (selectionChange)="onChangeBatchName($event,Cform)">
                                        <mat-option *ngFor="let batches of batch" [value]="batches.batchName">
                                            {{batches.batchName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>This field is required *</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field appearance="standard">
                                    <mat-label>Technology</mat-label>
                                    <input matInput formControlName="technology">
                                    <mat-error>This field is required *</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field appearance="standard" class="example-form-field">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput [matDatepicker]="datepicker" formControlName="startDate">
                                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #datepicker>
                                    </mat-datepicker>
                                    <mat-error>This field is required *</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field appearance="standard">
                                    <mat-label>Include</mat-label>
                                    <mat-select formControlName="include" [(value)]="selected" multiple>
                                        <mat-option value="SATURDAY">SATURDAY</mat-option>
                                        <mat-option value="SUNDAY">SUNDAY</mat-option>
                                        <mat-option value="HOLIDAYS">HOLIDAYS</mat-option>
                                    </mat-select>
                                    <mat-error>This field is required *</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="p-3 d-flex justify-content-between">
                                <div></div>
                                <div class="d-inline">
                                    <button type="reset" class="btn btn-light" #resetButton>reset</button>
                                    <button type="submit" class="btn btncolor mx-3">Generate Calendar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="calenderTable">
    <table class="table table-borderless text-center" style="overflow-y:scroll">
        <thead class="thead" style="background-color: #D6EFFA;">
            <tr>
                <th>Sl.No</th>
                <th>Batch Name</th>
                <th>Technology</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status
                    <!-- <mat-icon>arrow_drop_down</mat-icon> -->
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let calendar of calendarListData | tablefilter:searchText ; index as i">
                <td>{{i+1}}</td>
                <td>{{calendar.batchName}}</td>
                <td>{{calendar.technology}}</td>
                <td>{{calendar.startDate}}</td>
                <td>{{calendar.endDate}}</td>
                <td [ngClass]="{'text-primary':calendar.status === 'IN PROGRESS','text-warning':calendar.status == 'YET TO START','text-success':calendar.status == 'FINISHED' }">
                    {{calendar.status}}</td>
                <td>
                    <mat-icon class="icon" matTooltip="View" style="margin-left: 20px;" data-toggle="modal" data-target="#exampleModal2" (click)='visibleCalender(calendar.batchName,i)'>visibility</mat-icon>
                    <mat-icon class="icon" matTooltip="Edit" data-toggle="modal" data-target="#exampleModal3" (click)='visibleCalender(calendar.batchName,i)'>edit
                    </mat-icon>
                    <mat-icon class="icon" matTooltip="Delete" data-toggle="modal" data-target="#exampleModalCenter" (click)="elementData(calendar)">delete_outline</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<!-- Modal 2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal2 modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-block">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <div class="row ">
                    <div class="col-md-6">
                        <h2>View Calendar</h2>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="dropdown ">
                            <button class="btn border-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                Download as
              </button>
                            <div class=" ml-auto dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <p class="dropdown-item">Pdf</p>
                                <p class="dropdown-item">Word Doc</p>
                                <p class="dropdown-item">Excel Doc</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <a routerLink="">{{selectedBatchName}}</a>|<a routerLink="">{{selectedTechnology}}</a>
                    </div>
                    <div>
                        <a routerLink="">{{selectedStartDate}}</a>|<a routerLink="">{{selectedEndDate}}</a>
                    </div>
                </div>
                <div class="calendar">
                    <div class="p-3">
                        <full-calendar id="calendar" *ngIf="calendarOptions" #fullcalendar [options]="calendarOptions">
                        </full-calendar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal3 -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal2 modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h2 class="modal-title title"></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <div class="row ">
                    <div class="col-md-6">
                        <h2>Edit Calendar Generation</h2>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="dropdown ">
                            <button class="btn border-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                Download as
              </button>
                            <div class=" ml-auto dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <p class="dropdown-item">Pdf</p>
                                <p class="dropdown-item">Word Doc</p>
                                <p class="dropdown-item">Excel Doc</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <a routerLink="">{{selectedBatchName}}</a>|<a routerLink="">{{selectedTechnology}}</a>
                    </div>
                    <div>
                        <a routerLink="">{{selectedStartDate}}</a>|<a routerLink="">{{selectedEndDate}}</a>
                    </div>
                </div>
                <div class="calendar">
                    <div class="p-3">
                        <full-calendar *ngIf="calendarOptions" #fullcalendar [options]="calendarOptions"></full-calendar>

                        <button #modalOpenButton type="button" hidden data-target="#myModal" data-toggle="modal"></button>
                        <div class="modal" id="myModal" data-backdrop="static">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title Modaltitle align-center"></h4>
                                        <button type="button" #closeModal class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="addEventForm">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group ">
                                                        <input type="date" class="form-control eventsstarttitle" formControlName="start">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>Topic</label>
                                                        <input placeholder="Add Topic" type="text" formControlName="title" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>Sub Topic</label>
                                                        <input placeholder="Sub Topic" type="text" formControlName="subTopic" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary" (click)="onSubmit(addEventForm)">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--delete-trainer-modal-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body ">
                <img class="deletelogo" src="../../../assets/images/Yellow-Warning (1).png" alt="">
                <h1 style="text-align: center;">Are you sure you want to Delete this Calendar</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn confirmbtn" data-toggle="modal" data-target="" (click)="deleteCalendarData()">Confirm</button>
                <button type="button" class="btn deletebtn" data-dismiss="modal" #closeBtn>Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Edit Calendar -->
<!-- <button #editModalOpen type="button" hidden data-target="#EditModal" data-toggle="modal"></button>
<div class="modal" id="EditModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title Modaltitle align-center">Edit Event</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form [formGroup]="editEventForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group ">
                                <input type="date" class="form-control eventsstarttitle" formControlName="start">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Topic</label>
                                <input placeholder="Add Topic" type="text" formControlName="title" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Sub Topic</label>
                                <input placeholder="Sub Topic" type="text" formControlName="subTopic" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div> -->