<div class="container-fluid page mt-4">
  <mat-card>
    <div class="d-flex justify-content-between">
      <div class="">
        <p class="d-inline">{{candidates?.batchName}}</p>
        <p class="d-block">{{candidates?.startDate}} - {{candidates?.endDate}}</p>
      </div>
      <div *ngIf="candidates?.batchType=='INTERNAL'">
        <h4 class="d-inline"><b>Mentors -</b> </h4>
        <h5 class="d-inline" *ngFor="let candiate of candidates['tyMentors'] "><div>{{candiate}}</div></h5>
      </div>
      <div *ngIf="candidates?.batchType=='CLIENT'" >
        <h4 class="d-inline"><b>Mentors </b> </h4>
        <h5 class="d-inline" *ngFor="let candiate of candidates['clientMentorList'] "><div>{{candiate.clientMentorName}}</div></h5>
      </div>
      <div class="">
        <h4 class="d-inline"><b>Trainers </b> </h4>
        <h5 class="d-inline" *ngFor="let candiate of candidates['assignTrainerList'] "><div>{{candiate.assignTrainerName}}</div></h5>
      </div>
      <div>
        <h4><b>Batch Completion</b></h4>
        <circle-progress [percent]='candidates?.batchProgress' titleFontSize=15 subtitleFontSize=8 [outerStrokeGradient]=true
          [outerStrokeColor]="'#BA7FC2'" [animationDuration]=0 [animation]=false [radius]="35" [outerStrokeWidth]="10"
          outerStrokeGradientStopColor="#5A7B8E" [showInnerStroke]=false></circle-progress>
      </div>
      <div>
        <h4><b>Mock Rating</b></h4>
        <circle-progress [percent]="66" titleFontSize=15 subtitleFontSize=8 [outerStrokeGradient]=true
          [outerStrokeColor]="'#BA7FC2'" [animationDuration]=0 [animation]=false [radius]="35" [outerStrokeWidth]="10"
          outerStrokeGradientStopColor="#5A7B8E" [showInnerStroke]=false></circle-progress>
      </div>
    </div>
  </mat-card>

  <div class="page__content p-3 ">

    <div class="row">
      <div class="col-md-7 candidate">
        <h3 class="mt-3 px-5">Candidate List</h3>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-5">
            <mat-form-field class="Csearch" appearance="standard">
              <input matInput class="hover" type="search" placeholder="Candidate Name" (keyup)="applyFilter($event)">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-4 btn">
            <button type="button" class="btn btn-color batch" (click)="viewCandidate(i)">
              <mat-icon>add</mat-icon>Candidate
            </button>
          </div>
          <div class="col-md-3 mt-2">
            <button class="btn btn-color batch" data-toggle="modal" data-target="#exampleModalCenter" >Delete
              All</button>
          </div>
        </div>

      </div>
    </div>

    <div class="tableData">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"
              (change)="selection.isSelected(row)?selectedCandidates(row):remove(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="candidateName">
          <th mat-header-cell *matHeaderCellDef> Candidate Name </th>
          <td mat-cell *matCellDef="let element"> {{element.candidateName |titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="emailId">
          <th mat-header-cell *matHeaderCellDef> Email Id </th>
          <td mat-cell *matCellDef="let element"> {{element.emailId}} </td>
        </ng-container>
        <ng-container matColumnDef="degree">
          <th mat-header-cell *matHeaderCellDef> Degree </th>
          <td mat-cell *matCellDef="let element"> {{element.degree}} </td>
        </ng-container>

        <ng-container matColumnDef="stream">
          <th mat-header-cell *matHeaderCellDef> Stream </th>
          <td mat-cell *matCellDef="let element"> {{element.stream}} </td>
        </ng-container>

        <ng-container matColumnDef="yop">
          <th mat-header-cell *matHeaderCellDef> YOP </th>
          <td mat-cell *matCellDef="let element"> {{element.yop}} </td>
        </ng-container>

        <ng-container matColumnDef="degreeAggregate">
          <th mat-header-cell *matHeaderCellDef> Degree Aggregate </th>
          <td mat-cell *matCellDef="let element"> {{element.degreeAggregate}} </td>
        </ng-container>

        <ng-container matColumnDef="branch">
          <th mat-header-cell *matHeaderCellDef> Branch </th>
          <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
        </ng-container>

        <ng-container matColumnDef="deleteEmployee">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="Example icon button with a home icon">
              <mat-icon (click)="updateCandidate(element)">edit</mat-icon>
              <mat-icon class="px-3" data-toggle="modal" data-target="#exampleModalCenter"
                (click)="deleteConfirm(element)">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

      </table>

    </div>
    <mat-paginator [pageSizeOptions]="[1,5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

  </div>



</div>

<button #modalOpenButton type="button" hidden data-target="#myModal" data-toggle="modal"></button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"><b>Edit CandidateList</b></h3>
        <button type="button" class="close" #candidateModalClose data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="" [formGroup]="Cform" (ngSubmit)="onSubmit(Cform)">

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="standard">
                <input class="hover" matInput type="search" formControlName="candidateId" placeholder=" CandidateId"
                  required>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="standard">
                <input class="hover" matInput type="search" formControlName="degreeAggregate"
                  placeholder="Degree Aggregate" required>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="standard">
                <input class="hover" matInput type="search" formControlName="candidateName" placeholder="candidateName"
                  required>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="standard">
                <input class="hover" matInput type="search" formControlName="phoneNumber" placeholder="phoneNumber"
                  required>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="standard">
                <input class="hover" matInput type="search" formControlName="emailId" placeholder="Email ID" required>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="standard">
                <input class="hover" matInput type="search" formControlName="degree" placeholder="Degree" required>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="standard">
                <input class="hover" matInput type="search" formControlName="stream" placeholder="Stream" required>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="standard">
                <input class="hover" matInput type="search" formControlName="yop" placeholder="YOP" required>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="standard">
                <mat-label>Branch</mat-label>
                <mat-select formControlName="branch" required>
                  <mat-option *ngFor="let branch of branches" [value]="branch.value">
                    {{branch.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary p-1 px-2" data-dismiss="modal">Close</button>
            <button type="" (click)="onClickUpdate()" class="btn btn-color batch">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--delete-trainer-modal-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" data-backdrop="static" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body ">
        <img class="deletelogo" src="../../../assets/images/Yellow-Warning (1).png" alt="">
        <h1 style="text-align: center;">Are you sure you want to Delete this Candidate</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn confirmbtn" data-toggle="modal" data-target=""
          (click)="deleteCandidate(this.deleteElement)">Confirm</button>
        <button type="button" class="btn deletebtn" data-dismiss="modal" #closeBtn>Close</button>
      </div>
    </div>
  </div>
</div>

<!--- delete-sucess-popup-modal -->

<div class="modal fade" id="confirm" tabindex="-1" role="dialog" data-backdrop="static"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="deletelogo" src="../../../assets/images/—Pngtree—check mark icon design template_4085369 (1).png"
          alt="">
        <h1 style="text-align: center;">Candidate Successfully Deleted</h1>
        <button type="button" class="btn okbtn" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
