<div class="main">
    <div class="row">
        <div class="col-md-6">
            <h3 class="font-weight-bold mt-4 pl-5">Trainer Details</h3>
        </div>
        <div class="col-md-6">
            <div class="row  mt-2">
                <div class="col-md-5">
                    <mat-form-field appearance="standard">
                        <input type="text" matInput placeholder="Search by Trainer Name" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-3 ">
                    <mat-form-field appearance="standard">
                        <mat-label>Technology Type</mat-label>
                        <mat-select [formControl]="technologyFilter" #select (ngModelChange)="getHeader()" multiple>
                            <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelection()">Select All</mat-checkbox>
                            </div>
                            <mat-option (click)="optionClick()" *ngFor="let topping of technologiesData" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 mt-3">
                    <button type="button" class="btn subbtn" data-toggle="modal" data-target="#exampleModal" (click)="trainerModel()" data-whatever="@getbootstrap">+ New Trainer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive" style="overflow-x: auto">
        <table class="table  table-bordered mt-3" style="vertical-align: middle;">
            <thead class="table-header">
                <tr>
                    <th rowspan="2" style="vertical-align: middle;z-index: 0;" class="fixed">Trainer Name</th>
                    <th *ngFor="let techType of technologyType" [attr.colspan]="techType==='Frontend'?FrontendTechnologies[0]?.value.length:techType==='Backend'?BackendTechnologies[0]?.value.length:techType==='Database'?DatabaseTechnologies[0]?.value.length:0">
                        {{techType}}
                    </th>
                    <th rowspan="2" style="vertical-align: middle;" class="fixed">Actions</th>
                </tr>
                <tr>
                    <ng-container *ngIf="technologyFilter.value.includes('Frontend') || technologyFilter.value.includes('All') || technologyFilter.value.length === 0">
                        <ng-container *ngFor="let FrontendData of FrontendTechnologies[0]?.value">
                            <th>{{FrontendData}}</th>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="technologyFilter.value.includes('Backend') || technologyFilter.value.includes('All') || technologyFilter.value.length === 0">
                        <ng-container *ngFor="let BackendData of BackendTechnologies[0]?.value">
                            <th>{{BackendData}}</th>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="technologyFilter.value.includes('Database') || technologyFilter.value.includes('All') || technologyFilter.value.length === 0">
                        <ng-container *ngFor="let DatabaseData of DatabaseTechnologies[0]?.value">
                            <th>{{DatabaseData}}</th>
                        </ng-container>
                    </ng-container>
                </tr>
            </thead>
            <tbody style="font-size: 12px;">
                <tr *ngFor="let trainer of trainerData | trainerfilter:searchValue;index as i">
                    <td class="fixed">{{trainer.trainerName | titlecase}}</td>
                    <ng-container *ngFor="let item of this.trainerTechnologiesRes[i]; index as i">

                        <td>{{item.value}}</td>
                    </ng-container>
                    <ng-container>
                        <td>
                            <mat-icon class="icons pr-3" data-toggle="modal" data-target="#exampleModal" (click)="updateTrainerData(trainer)">edit</mat-icon>
                            <mat-icon class="icons" data-toggle="modal" data-target="#exampleModalCenter" (click)="deleteConfirm(trainer)">delete_outline</mat-icon>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal for create New Trainer -->

<div class="modal fade" id="exampleModal" tabindex="-1" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-centered" [ngClass]="{'modal-dialog modal-xl': itemsArray?.length > 1,'modal-dialog': itemsArray?.length === 1}"> -->
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">{{modelHeader}}</h3>
                <button type="button" class="close" #closepostmodal data-dismiss="modal" aria-label="Close" (click)='clearItemsArray()'>
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="trainerForm">
                    <div class="form-group">
                        <div class="header hdata">
                            <mat-form-field>
                                <input type="text" formControlName="trainerName" matInput appearance="standard" placeholder="Trainer Name">
                                <mat-error *ngIf="trainerForm.controls.trainerName.errors?.required">TrainerName is required *</mat-error>
                                <mat-error *ngIf="trainerForm.controls.trainerName.errors?.minlength">TrainerName is required *</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" formControlName="emailId" matInput appearance="standard" placeholder="Trainer emailId">
                                <mat-error *ngIf="trainerForm.controls.emailId.errors?.required">emailId is required *</mat-error>
                                <mat-error *ngIf="trainerForm.controls.emailId.errors?.pattern">Enter Valid emailId*</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <hr>
                    <div formArrayName="items" *ngFor="let item of itemsArray.controls; index as i;" style="display: inline-flex;">
                        <div [formGroupName]="i">
                            <div class="mode ">
                                <div class="row">
                                    <div class="modaldata">
                                        <div class="form-group data ">
                                            <mat-form-field appearance="standard" class="field">
                                                <mat-label>Technology Type</mat-label>
                                                <mat-select formControlName="technologyType">
                                                    <mat-option *ngFor="let Technology_type of Technology_types" [value]="Technology_type.value">
                                                        {{Technology_type.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>Technology type required *</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group data ">
                                            <mat-form-field appearance="standard">
                                                <mat-label>Technologies</mat-label>
                                                <mat-select formControlName="technology">
                                                    <mat-option *ngFor="let Technologie of Technologies" [value]="Technologie.value">
                                                        {{Technologie.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>Technologies required *</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group  data">
                                            <mat-form-field appearance="standard">
                                                <mat-label>Proficiency level</mat-label>
                                                <mat-select formControlName="proficiencyLevel">
                                                    <mat-option *ngFor="let Proficiency of Proficiencys" [value]="Proficiency.value">
                                                        {{Proficiency.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>Proficiency level required *</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="modalicon  p-0">
                                        <mat-icon *ngIf="itemsArray?.length > 1" class="icon" (click)="deleteItem(i)">
                                            delete
                                        </mat-icon>
                                        <mat-icon *ngIf="i == itemsArray.length - 1" class="icon" (click)="addItem()">
                                            add_circle
                                        </mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn newbtn" #resetpostmodal>Reset</button>
                        <button type="submit" class="btn  subbtn" (click)="postTrainer(trainerForm)">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--delete-trainer-modal-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body ">
                <img class="deletelogo" src="../../../assets/Yellow-Warning.png" alt="">
                <h1 style="text-align: center;">Are you sure you want to Delete this Trainer</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn confirmbtn" (click)="deleteTrainer(deleteTrainerData)">Confirm</button>
                <button type="button" class="btn deletebtn" data-dismiss="modal" #closeBtn>Close</button>
            </div>
        </div>
    </div>
</div>