<div class="main ml-2 mr-2">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 mt-2">
                    <button class="btn btn-white" (click)="displayData()"><i matTooltip="Filter" class="fa fa-filter icon"></i></button><small class="header"><b>On Boarded Candidates List</b></small>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-7">
                            <mat-form-field class="onboardFilter" appearance="standard">
                                <input matInput (keyup)="applyFilter($event)" placeholder="Candidate Name" #input>
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <button *ngIf="(selection.hasValue() || isAllSelected())" type="button" class="btn onboardbtn" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Create Batch</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add">
                <mat-card class="filter-card" *ngIf="hideMat">
                    <mat-card-title>
                        Filters
                    </mat-card-title>
                    <mat-card-content>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Categories
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="categories-filter">
                                    <mat-panel-title>
                                        <mat-checkbox (click)="$event.stopPropagation();">Degree</mat-checkbox>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-checkbox>BE</mat-checkbox><br>
                                <mat-checkbox>B.Tech</mat-checkbox><br>
                                <mat-checkbox>M.Tech</mat-checkbox><br>
                                <mat-checkbox>MBA</mat-checkbox>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="categories-filter">
                                    <mat-panel-title>
                                        <mat-checkbox (click)="$event.stopPropagation();">Stream</mat-checkbox>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-checkbox>CSE</mat-checkbox><br>
                                <mat-checkbox>MECH</mat-checkbox><br>
                                <mat-checkbox>ECE</mat-checkbox><br>
                                <mat-checkbox>CIVIL</mat-checkbox>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="categories-filter">
                                    <mat-panel-title>
                                        <mat-checkbox (click)="$event.stopPropagation();">Percentage</mat-checkbox>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-checkbox>90%</mat-checkbox><br>
                                <mat-checkbox>80%</mat-checkbox><br>
                                <mat-checkbox>70%</mat-checkbox><br>
                                <mat-checkbox>60%</mat-checkbox>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="categories-filter">
                                    <mat-panel-title>
                                        <mat-checkbox (click)="$event.stopPropagation();">YOP</mat-checkbox>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-checkbox>2021</mat-checkbox><br>
                                <mat-checkbox>2020</mat-checkbox><br>
                                <mat-checkbox>2019</mat-checkbox><br>
                                <mat-checkbox>2018</mat-checkbox>
                            </mat-expansion-panel>

                        </mat-expansion-panel>
                    </mat-card-content>
                </mat-card>

            </div>

            <div class="tables mt-1">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" (change)="selection.isSelected(row)?selectedCandidates(row):remove(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th style="font-size: 13px;" mat-header-cell *matHeaderCellDef> <b>Candidate Name</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="contactNumber">
                        <th style="font-size: 13px;" mat-header-cell *matHeaderCellDef> <b>Contact Number</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.contactNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="emailId">
                        <th style="font-size: 13px;" mat-header-cell *matHeaderCellDef> <b>Email Id</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.emailId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="degree">
                        <th style="font-size: 13px;" mat-header-cell *matHeaderCellDef> <b>Degree</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.degree}} </td>
                    </ng-container>
                    <ng-container matColumnDef="stream">
                        <th style="font-size: 13px;" mat-header-cell *matHeaderCellDef> <b>Stream</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.stream}} </td>
                    </ng-container>

                    <ng-container matColumnDef="yop">
                        <th style="font-size: 13px;" mat-header-cell *matHeaderCellDef> <b>YOP</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.yop}} </td>
                    </ng-container>
                    <ng-container matColumnDef="degreePercentage">
                        <th style="font-size: 13px;" mat-header-cell *matHeaderCellDef> <b>Degree Aggregate %</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.degreePercentage}} </td>
                    </ng-container>

                    <ng-container matColumnDef="jspiderBranch">
                        <th style="font-size: 13px;" mat-header-cell *matHeaderCellDef> <b>Branch</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.jspiderBranch}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <!--  create-batch-- modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="font-weight: 600;" id="exampleModalLabel">Create Batch</h2>
                    <button type="button" class="close" #closeModal (click)="resetFormData()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <form action="" [formGroup]="batchForm">
                        <div class="first" style="padding: 1%;">

                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Location</mat-label>
                                        <mat-select formControlName="location">
                                            <mat-option *ngFor="let location of locations" [value]="location.value">
                                                {{location.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="this.batchForm.controls.location.errors?.required">This field is required*</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Technology</mat-label>
                                        <mat-select formControlName="technology">
                                            <mat-option *ngFor="let technology of technologies" [value]="technology.value">
                                                {{technology.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>This field is required*</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field appearance="standard">
                                        <mat-label>StartDate</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="startDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error>This field is required*</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <div class="row">
                                        <div class="upload">
                                            <!-- <input #fileInputData type="file" hidden formControlName="tocPath" (change)="uploadTOC($event)">
                                            <button mat-button type="button" class="btn btn-color batch" (click)="fileInputData.click()">Upload TOC</button><span>{{fileName}}</span> -->
                                            <input id="myInp" #files type="file" formControlName="tocPath" (change)="uploadTOC($event)">
                                            <span class="myBtn" (click)="files.click()">UploadTOC</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field appearance="standard">
                                        <mat-label>TY Mentor</mat-label>
                                        <mat-select formControlName="tyMentors">
                                            <mat-option *ngFor="let technology of TrainerData" [value]="technology.trainerName">
                                                {{technology.trainerName}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>This field is required*</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-3">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Delivery Manager</mat-label>
                                        <input matInput type="text" placeholder="Delivery Manager" formControlName="deliveryManager">
                                    </mat-form-field>
                                </div>

                                <div class="col-3">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Batch Type</mat-label>
                                        <mat-select formControlName="batchType" [(value)]="selected">
                                            <mat-option value="INTERNAL">INTERNAL</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="this.batchForm.controls.batchType.errors?.required">This field is required*</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>

                        <div class="p-3 first">
                            <h3 style="font-weight: 600;">Assign Trainers</h3>
                            <div formArrayName="trainers" *ngFor="let item of trainer.controls; let i = index;">
                                <div [formGroupName]="i">
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-form-field appearance="standard">
                                                <mat-label>assignTrainerName</mat-label>
                                                <mat-select formControlName="assignTrainerName" (selectionChange)="onChangeTrainerName($event,batchForm,i)">
                                                    <mat-option *ngFor="let technology of TrainerData" [value]="technology.trainerName">
                                                        {{technology.trainerName}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="assignTrainerName.errors?.required">This field is required*</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-3">
                                            <mat-form-field appearance="standard">
                                                <mat-label>Technology</mat-label>
                                                <input matInput class="hover" type="text" formControlName="technologies">
                                                <mat-error>This field is required*</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-3">
                                            <mat-form-field appearance="standard">
                                                <mat-label>Days</mat-label>
                                                <mat-select formControlName="days">
                                                    <mat-option *ngFor="let day of days" [value]="day.value">
                                                        {{day.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>This field is required*</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-3 aliq">
                                            <div class="form_field">
                                                <mat-form-field appearance="standard">
                                                    <mat-label>Email Id</mat-label>
                                                    <input matInput class="hover" type="text" formControlName="emailId">
                                                    <mat-error *ngIf="assignTrainerEmailID.errors?.required">This field is required*</mat-error>
                                                    <mat-error *ngIf="assignTrainerEmailID.errors?.pattern">Enter a valid EmailId*</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-icon *ngIf="trainer.length - 1" class="icon mt-3" (click)="deleteItem(i)">
                                                    delete
                                                </mat-icon>
                                                <mat-icon class="mt-3" *ngIf="i === trainer.length - 1" (click)="addTrainer()">add_circle
                                                </mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="reset" class="btn btn-light" #resetButton>reset</button>
                            <button type="submit" class="btn btn-color batch" (click)="addBatch(batchForm)">Create</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>