<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/images/logo2.png" alt="Company Logo" />
    </div>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/batches">
        <img src="../../assets/images/batches.svg" alt=""> Batches
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/calendar">
        <img src="../../assets/images/calendar.svg" alt=""> Calendar</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/trainers">
        <img src="../../assets/images/trainers.svg" alt=""> Trainers
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/case">
        <img src="../../assets/images/caseStudies.svg" alt=""> Case Studies</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/onboard">
      <img src="../../assets/images/onboard.svg" alt=""> Onboard</a>

</mat-nav-list>
