<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/images/logo2.png" alt="Company Logo" />
    </div>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/batches">
        <mat-icon>bookmark</mat-icon> Batches
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/calendar">
        <mat-icon>calendar_today</mat-icon> Calendar</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/trainers">
        <mat-icon>airline_seat_recline_extra</mat-icon> Trainers
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/case">
        <mat-icon>laptop_chromebook</mat-icon>Case studies</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/onboard">
        <mat-icon>calendar_today</mat-icon>Onboard</a>

</mat-nav-list>